<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= title %></title> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
		<h1 class="display-1 text-primary font-weight-bold text-center">Chest X-ray CAD</h1>
		<table class='table'>
			<tbody>
				<tr>
					<th style="text-align:center"><img src="/images/results/<%= body.image_name %>" height=512 width=512></th>
					<th>
						<table class='table'>
							<thead>
								<tr>
									<th>Bệnh</th>
									<th>Probability</th>
								</tr>
							</thead>
							<tbody>
								<% for (d in body.result) {%>
									<tr>
										<th><%= d %></th>
										<th><%= (body.result[d] * 100).toFixed(2) %>%</th>
									</tr>
								<% } %>
							</tbody>
						</table>
					</th>
				</tr>
			</tbody>
		</table>
		<!-- <form action='/upload' method='POST' enctype='multipart/form-data'>
			<input type='file' name='<%= cxr_field %>' >
			<button type='submit' class='btn btn-primary'>Upload</button>
		</form> -->
  </body>
</html>
